@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-family: 'Poppins', sans-serif;

}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: 400;
}

a:hover {
    font-weight: 700;
    color: transparent;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    -webkit-background-clip: text;
}

header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0 auto;
}

#header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    font-weight: 700;

}

#header-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container .logo h1 {
    color: transparent;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    -webkit-background-clip: text;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
}

#header-container .logo span {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

#header-container .logo i {
    color: transparent;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    -webkit-background-clip: text;
    font-size: 24px;
}
.cart{
    display: none;
}
.cart-container{
    /* display: none; */
}
.cart-show {
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    display: block;
    color: rgb(245, 245, 245);
    top: 60px;
    right: -35px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 35px 15px;
    justify-content: center;
    align-items: unset;
    background: #000;
    border: solid 1px #280228;
    transition: all ease-in-out .5s;
}
.cart-container-show {
    max-width: 490px;
    min-width: 375px;
    margin: 0 auto;
    max-height: 450px;
    overflow-y: scroll;
}
.cart-container-show.cart-item h4 {
    width: 35px;
    font-weight: 300;
}

.cart-container p {
    width: 100%;
    text-align: center;
}

.cart-item img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-bottom: solid 1px #5f5f5f;
}
.btn-buy,
.btn-delete {
        cursor: pointer;
        outline: none !important;
        transition: .4s all;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: normal;
        color: #5f5f5f;
        padding: 10px 10px;
        background-color: #202020;
        border-radius: 8px;
        border: none;
        text-align: center;
        font-size: medium;
}
.btn-buy:hover,
.btn-delete:hover{
    background-color: goldenrod;
}
.button-menu {
    display: none;
}

.navbar {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#navbar-list {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 300;
}

.cart-icon {
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 8rem;
    color: #f5f5f5;
    cursor: pointer;
    position: relative;
    margin-left: 0;
}

.cart-icon:hover {
    font-weight: 800;
    color: transparent;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    -webkit-background-clip: text;
    cursor: pointer;
}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: linear-gradient(to top, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    color: #f5f5f5;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
}

.cart-label {
    margin: 0 auto;
    margin: 0;
    padding: 0;
    position: relative;
}



/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart-container::-webkit-scrollbar {
    display: none;
}

.cart h4 {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 300;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #0d0d0d;
    padding: 15px;
    margin: 10px;
    border: 1px solid #141414;
    border-radius: 10px;
}

.cart-item img {
    height: 45px;
    width: 45px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

.cantidad-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-item button {
    min-width: 20px;
    max-width: 60px;
    max-height: 30px;
    background: none;
    border-radius: 50%;
    margin: 5px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    border: none;
    transition:.4s ease all;
    font-size: 20  ;
    font-weight: 600;
}

.cart-item .btn-delItm {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-image: url(/assets/img/delete.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 16;

}

.cart-total p {
    color: #f5f5f5;
    font-weight: 700;
}

.cart-total span {
    color: #f5f5f5;
    font-weight: 400;
    font-size: 18px;
}

/* .open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);

} */

.cart-container .show .divider {
    margin-top: 20px;
    border: 0.5px solid #2a2a2a;
    width: 100%;
}

.modal-container {
    max-width: 100vw;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 700px;
    color: #f5f5f5;
    text-transform: uppercase;
    z-index: 9997;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    transition: all .2s ease-in-out;
}

#hero-main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 0px 0px 15px 15px;
    z-index: 9;
    position: relative;
}

.bkgrnd {
    margin-top: 0;
    width: 100%;
    background-image: url(/assets/img/hero-bkgrnd.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    position: relative;
    z-index: 10;
    border-radius: 0px 0px 15px 15px;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: #131313;
    z-index: 11;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    opacity: 55%;
}

/* #scrollarrow {
    text-indent: -9999px;
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: url(/assets/img/arrowup.webp) no-repeat;
    background-size: 42px 42px;
    z-index: 2;
} */
.hero-txt-container {
    min-width: 100%;
    height: 100%;
    font-size: large;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 12;
    padding: 20px;
}

.hero-txt-container p {
    text-align: center;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 1px;
    z-index: 13;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#search-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-label {
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #5f5f5f;
    background-color: #202020;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search {
    width: 30%;
}

.news {
    width: 50%;
    display: flex;
    color: #5f5f5f;
    justify-content: space-around;
    align-items: center;
}

.search-label input {
    width: 100%;
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
    transition: all .3s;
    outline: none !important;
    color: #f5f5f5;
}

.search-label:focus-within {
    background-color: #313131;
}

#hero-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 20px;
}

.slider {
    width: 100%;
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
}

.slides {
    display: flex;
    width: 100%;
    transition: all 0.5s;
}

.slides img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    object-fit: fill;
}

.slides h1 {
    width: 100%;
    position: fixed;
    color: #212121;
    text-align: center;
}

.controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.prev {
    border-radius: 0 5px 5px 0;
}

.prev,
.next {
    background-color: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    transition: all 0.2s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.next {
    border-radius: 5px 0 0 5px;
}

.last-games {
    width: 50%;
    height: 100%;
    color: #f5f5f5;
    font-size: 18px;
    border-radius: 15px;
    border: solid 1px #333;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: x-small;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    height: auto;
}

.last-games h2 {
    position: absolute;
    color: #f5f5f5;
    width: 100%;
    height: auto;
    top: 0;
    text-align: center;
    margin-bottom: 15px;
    z-index: 9989;
    text-transform: uppercase;
}

.last-games .minCard {
    max-width: 200px;
    margin: 0 auto;
    width: auto;
    height: auto;
    flex-flow: wrap;
    padding: 5px;
}

.minCard button {
    background-color: darkgoldenrod;
    width: 110px;
    height: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.last-games .minCard img {
    width: 180px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
    top: 0;
}

.cardOfer {
    max-width: 200px;
    max-height: 340px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    border: solid 1px #2a2a2a;
    border-radius: 5px;
    color: #f5f5f5;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.cardOfer h3 {
    color: rgb(202, 202, 44);
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.cardOfer img {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    margin-top: 0;

}

.cardOferText {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.alinearBoton {
    width: 100%;
    bottom: 0;
    height: 10%;

}

.cardOfer .alinearBoton button {
    cursor: pointer;
    outline: none !important;
    transition: .4s all;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    color: #5f5f5f;
    padding: 10px 10px;
    background-color: #202020;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: medium;
}

.cardOfer button:hover {
    transform: scale(1, 1);
    background-color: darkgoldenrod;
    color: #060120;
}

#ofertas {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #181717;
    border-radius: 5px;
    margin-top: 20px;

}

#ofertas h2 {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    border-bottom: 1px solid #202020;

}

.crtls-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 10px;
}


#aboutUs-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    padding: 15px;
    background-image: url(/assets/img/bgAboutUs.jpg);
    background-size: cover;
    border-radius: 5px;
    margin-top: 20px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 20;
}

#aboutUs-container .logo {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    z-index: 24;
    font-size: xx-large;
    top: 0;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

#aboutUs-txt {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10px;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px 80px 10px 80px;
    z-index: 21;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutUs-txt p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    font-size: medium;
    z-index: 22;
    position: relative;
    width: 100%;
    height: 100%;
    text-justify: distribute-all-lines;
    color: #131313;
    line-height: 1.6;
    letter-spacing: 1px;
}

#ofertas .cards-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.filters-btn {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.filters-btn button {
    width: fit-content;
    height: 30px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    background: none;
    color: #5f5f5f;
    border: none;
    border-top: solid 1px goldenrod;
    transition: .2s;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.filters-btn button:hover {
    transform: scale(1.05);
    color: #F5F5F5;
    border-bottom: solid 1px goldenrod;

}

/* cards */
#cards-containerA {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #313131;
    border-radius: 15px;
    text-align: center;
    color: #f5f5f5;
    transition: all ease .2s;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0px 3px 10px 2px #221f30;

}

.card img {
    margin: 5px;
}

/* Footer */
footer {
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: rgb(245, 245, 245);
    box-sizing: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background: #2a2a2a;
    border-color: #333 !important;
    text-size-adjust: 100%;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    padding: 1.25em 4.5em 2.5em;
    position: relative;
    z-index: 10;
    background-color: #202020;
    border-top: none;
}

footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;

}

footer .footer-container a i {
    font-size: 30px;
    margin: 5px;
    color: rgb(245, 245, 245);
    transition: all .3s;
}

@media (max-width:976px) {
    .navbar {
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 10px;
        margin-right: 10px;
    }

    .button-menu i {
        padding: 0;
        margin: 0;
    }

    .button-menu {
        width: 80px;
        height: 40px;
        /* margin: 0 auto; */
        background-color: #000;
        color: #f5f5f5;
        font: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        border: none;
        text-align: left;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .2s;
        margin-right: 0;
    }

    .button-menu:hover {
        background-color: #313131;
        font-weight: 400;
        border: solid .5px #0d0d0d;
    }

    .button-menu:focus-within {
        background-color: #313131;
    }

    #navbar {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-right: 0;
    }

    #navbar-list {
        margin: 0 auto;
        position: fixed;
        top: 55px;
        right: 0;
        width: 80vw;
        height: 100vh;
        margin-right: -110%;
        background-color: #000;
        z-index: 998;
        transition: all .3s linear;
        border-bottom: 1px solid #060120;
        box-shadow: 0px 3px 5px 1px #060120;
        display: block;
        cursor: pointer;
    }

    #navbar-list a {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        line-height: 1.6;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 16px;
        text-align: left;
        padding: 10px;
        gap: 10px;
        transition: all .2s;
        margin-left: 0;
    }

    #navbar-list a:hover {
        color: transparent;
    }

    #navbar-links a i {
        font-size: 15px;
    }

    #navbar-links a:hover {
        font-weight: 700;
        color: transparent;
        background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
        -webkit-background-clip: text;

    }

    #navbar-list.show {
        margin-right: 0;
    }

    #hero-container {
        display: block;
    }

    .slides img {
        width: 100%;
        height: 450px;
        margin: 0 auto;
        object-fit: fill;
    }

    .last-games {
        margin: 0 auto;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 15px;
        flex-flow: wrap;
    }

    #aboutUs-container {
        display: block;
        margin-bottom: 50px;
    }

    #aboutUs-container p {
        margin-top: 50px;
    }

    .containerA {
        display: block;
    }
}

.form-container {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(/assets/img/logBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 40px;
}

#form-container h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
    top: 0;

}

#form-container {
    max-width: 100%;
    margin: 0 auto;
    width: 320px;
    height: 400px;
    background: linear-gradient(to right, rgb(185, 100, 255), rgb(103, 74, 255), rgb(12, 204, 238));
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#contact-form input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#message-input {
    width: 100%;
    height: 100px;
}

#contact-form textarea {
    border-radius: 5px;
}

#contact-form button {
    width: 80px;
    height: 40px;
    margin: 5px;
    background: linear-gradient(to right, #43bcff, #9708cc);
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .2s;
}

#contact-form button:hover {
    transform: scale(1.05);
}

footer .footer-container a i:hover {
    scale: 1.1;
    color: #5f5f5f;
}

footer .footer-container .box1 .box1-text {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    color: rgb(245, 245, 245);
    padding: 20px;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 1px;
}

footer .box2 {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    color: rgb(245, 245, 245);
}

footer .creditos {
    border-top: solid 1px #333;
    border-radius: 3px;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(245, 245, 245);
}

footer .box2 .logo {
    /*     position: absolute; */
    right: 0;
    bottom: 0;
    color: rgb(245, 245, 245);
}

@media (max-width:920px) {
    #aboutUs-container {
        padding: 4%;
        height: fit-content;
    }

    #cards-containerA {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
}

@media (max-width:576px) {

    .news {
        display: flex;
        justify-content: space-around;
        gap: 25px;
    }

    #navbar-list {
        margin: 0 auto;
        position: fixed;
        top: 55px;
        right: 0;
        width: 100vw;
        height: 100vh;
        margin-right: -110%;
        background-color: #000;
        z-index: 998;
        transition: all .3s linear;
        border-bottom: 1px solid #060120;
        box-shadow: 0px 3px 5px 1px #060120;
    }

    .search {
        display: none;
    }

    .slider {
        display: none;
    }

    #aboutUs-container {
        padding: 4%;
        height: fit-content;
    }

    #aboutUs-txt {
        margin: 0 auto;
    }

    #search-container {
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;

    }

    .search-label input {
        width: 100%;
    }

    footer {
        display: block;
    }

    footer .footer-container .box1 .box1-text {
        display: flex;
        flex-flow: wrap;
    }
}

@media (max-width:320px) {

    /* *{  margin:0 auto;
        font-size: small;

    }     */
    .news {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        m: 10px;
    }

    #aboutUs-container {
        padding: 4%;
        height: fit-content;
    }

    .filters-btn {
        display: flex;
        flex-flow: wrap;
        justify-items: center;
        align-content: center;
    }

    #form-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;

    }

    #hero-main {
        width: 100%;
        margin: 0 auto;
    }

    .search {
        display: none;
    }

    .news a {
        display: flex;
        justify-content: space-around;
        margin: 5px;
        cursor: pointer;
    }

    #aboutUs-txt {
        margin: 0 auto;
        margin-bottom: 80px;
        font-size: small;
    }

    .form-container {
        margin-top: 80px;
    }

    .form-container {
        margin: 0 auto;
        background-image: url(/assets/img/logBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 52px;
    }
}